<div class="container">
    <div class="row margin-top-3">
        <div class="col-xs-3">
            
            <div class="margin-bottom-2">
                <input type="text" placeholder="search" ng-model="searchedName" class="form-control input-dimentions">
                <button class="button-css btn" ng-click="catCtrl.inputSearchValue = searchedName">Search</button>
            </div>
            
            <div class="margin-bottom-2">
                <select ng-model="sort" class="width-height form-control">
                    <option value="" selected>Select sorting</option>
                    <option value='name'>Ascending</option>
                    <option value='-name'>Descending</option>
                </select>
            </div>
            
            <div class="row margin-bottom-2">
                <div class="col-xs-6">
                    <label>Cat List</label>
                </div>
                <div class="col-xs-6">
                    <a ui-sref="newCat" class="pull-right"> <span class="glyphicon glyphicon-plus"></span> </a>
                </div>
            </div>

            <div ng-repeat="cat in catCtrl.catList | myCustomFilter:catCtrl.inputSearchValue | orderBy:sort" class="cat-name">  
                <span class="glyphicon glyphicon-chevron-right"></span> 
                <a ng-click="catCtrl.getCatDetails(cat.id)" ng-model="name" ng-class="{active_anchor: (cat.id == catCtrl.selectedCat)}">
                    {{cat.name}}
                </a> 
                <span ng-if="cat.isClicked" style="color: white">&#10004;</span>
                <a class="pull-right" ng-click="catCtrl.loadCatDetails(cat)"> 
                    <span class="glyphicon glyphicon-edit"></span> 
                </a>
            </div>

            <div class="col-xs-9" ng-if="!catCtrl.catList.length">
                <label><i>List is empty</i></label>
            </div>
        </div>

        <view-cat-data cat-data="catCtrl.catData" cat-list="catCtrl.catList" is-edited="catCtrl.editflag" delete-cat="catCtrl.deleteCat(catCtrl.catData.id)" increment-count="catCtrl.incrementCount(catCtrl.catData)" ng-model="catCtrl.editflag"></view-cat-data>

        <div class="panel col-xs-9 edit-panel" ng-if="catCtrl.editflag" tabindex="0" trigger-click>
            <div class="panel-heading panel-header-css"><b>EDIT CAT DETAILS</b></div>
            <div class="panel-body">
                <form-template cat-obj="catCtrl.catObj" check-duplicate="catCtrl.duplicateNameCheck(catCtrl.catObj)" 
                is-duplicate-flag="catCtrl.isDuplicate" save-cat-details="catCtrl.updateCatDetails(catCtrl.catObj)" cancel="catCtrl.cancel(catCtrl.catObj.id)"></form-template>
            </div>
        </div>
    </div>
</div>